body{
    background-color: #84828F;
    font-family: 'Courier New', Courier, monospace;
}

.header {
    padding: 5%;
    text-align: center;
    background: #6A687A;
    color: white;
    font-size: 150%;
}

.header ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 3%;
    padding-bottom: 3%;
    padding-inline: 10%;
    background-color: #3E4C5E;
}

.header li {
    padding-inline: 5%;
    border: 2px solid grey;
}

.header li a {
    text-decoration: none;
    color: inherit;
}

main {
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: #E7DECD;
}

main barra-izq {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

main barra-izq dotd {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

main barra-izq dotd img {
    border: 10px solid black;

}

main centro {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 20px;
}

main barra-der {
    display: flex;
    flex-direction: column;
}

main centro h2 {
    animation: MoveUpDown 2s linear infinite;
    left:0;
    bottom: 0;
}

@keyframes MoveUpDown{
    0%, 100% {
        transform: translateY(-100px);
    }
    50% {
        transform: translateY(100px);
    }
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #6A687A;
    position: sticky;
    bottom: 0px;
    left: 0px;
    right: 0;
    width: 100%;
    height: 50px;
}
