body{
    background-color: #84828F;
    font-family: 'Courier New', Courier, monospace;
}

.header {
    padding: 60px;
    text-align: center;
    background: #6A687A;
    color: white;
    font-size: 20px;
}

.header ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #3E4C5E;
}

.header li {
    padding-inline: 20px;
    border: 2px solid grey;
}

.header li a {
    text-decoration: none;
    color: inherit;
}


